In [61]:
from pyresparser import ResumeParser
import os
from docx import Document

In [62]:
import numpy as np
import pandas as pd
import nltk
from nltk.corpus import stopwords
stopw  = set(stopwords.words('english'))
df =pd.read_csv('jobrec.csv')

In [63]:
df.shape

(1924, 6)

In [64]:
df.head()

,Unnamed: 0,Category,Position,Company,Location,Job_Description
0,0,Testing,Software Testing Internship,Smart Food Safe Solutions Inc,– Bengaluru,About the company:\nSmart Food Safe Solutions ...
1,1,Testing,Embedded Software Testing,Mobiveil,– Bengaluru,Location : Bangalore\nExperience : 4+ Years\n\...
2,2,Testing,Senior Engineer - Software Testing (Bangalore ...,Open Systems International,– Bengaluru,"Open Systems International, Inc. (OSI) www.osi..."
3,3,Testing,Software Testing Engineer,Bloom Solutions,– Bengaluru,About the Job\n\nSoftware Testing Engineer\n\n...
4,4,Engineer,CIEL/SEL/1888: Software testing Engineer,CIEL HR Services,– Bengaluru,Location: Bangalore\nExperience: 3 to 6Years\n...

# Loading the job description into sentence

In [65]:
df['test']=df['Job_Description'].apply(lambda x: ' '.join([word for word in str(x).split() if len(word)>2 and word not in (stopw)]))
df['test']

0       About company: Smart Food Safe Solutions Inc. ...
1       Location Bangalore Experience Years Job Descri...
2       Open Systems International, Inc. (OSI) www.osi...
3       About Job Software Testing Engineer Job Descri...
4       Location: Bangalore Experience: 6Years Skills ...
                              ...
1919    Skills Qualifications: Years experience Strong...
1920    Job TH10519_13189 Posted on: 29th May, 2019Job...
1921    Job Description spend percent lives buildings....
1922    (Job Number: 1905027) Job Title â€“ Web Develo...
1923    marry design engineering language ways produce...
Name: test, Length: 1924, dtype: object

# what happening inside Resume parser

In [66]:
##file format should be in .txt , .docx or .pdf only
filed=input('specify the path of the resume (format(.txt, .docx and .pdf))==')

try:
    doc = Document()
    with open(filed, 'r') as file:
        doc.add_paragraph(file.read())
    doc.save("text.docx")
    data1 = ResumeParser('text.docx').get_extracted_data()

except:
    data1 = ResumeParser(filed).get_extracted_data()

resume=data1['skills']

specify the path of the resume (format(.txt, .docx and .pdf))==CV.pdf

C:\Users\Hp\.conda\envs\hariprakash\lib\site-packages\spacy\util.py:275: UserWarning: [W031] Model 'en_training' (0.0.0) requires spaCy v2.1 and is incompatible with the current spaCy version (2.3.7). This may lead to unexpected results or runtime errors. To resolve this, download a newer compatible model or retrain your custom model with the current spaCy version. For more details and available updates, run: python -m spacy validate
  warnings.warn(warn_msg)

In [72]:
data1

{'name': 'Kalash Jindal',
 'email': 'jindalkalash298@gmail.com',
 'mobile_number': '7839453651',
 'skills': ['Computer science',
  'C',
  'C++',
  'Training',
  'Ui',
  'Database',
  'Analysis',
  'Api',
  'Testing',
  'Coding',
  'Modeling',
  'Design',
  'Opencv',
  'Engineering',
  'Github',
  'Html',
  'Programming',
  'Css',
  'Pyqt',
  'Word',
  'Algorithms',
  'Statistics',
  'Chemicals',
  'Keras',
  'Sci',
  'Prototype',
  'Python'],
 'college_name': None,
 'degree': None,
 'designation': None,
 'experience': None,
 'company_names': None,
 'no_of_pages': 3,
 'total_experience': 0}

In [25]:
print(resume)

['Computer science', 'C', 'C++', 'Training', 'Ui', 'Database', 'Analysis', 'Api', 'Testing', 'Coding', 'Modeling', 'Design', 'Opencv', 'Engineering', 'Github', 'Html', 'Programming', 'Css', 'Pyqt', 'Word', 'Algorithms', 'Statistics', 'Chemicals', 'Keras', 'Sci', 'Prototype', 'Python']

In [26]:
skills=[]
skills.append(' '.join(word for word in resume))

In [27]:
skills

['Computer science C C++ Training Ui Database Analysis Api Testing Coding Modeling Design Opencv Engineering Github Html Programming Css Pyqt Word Algorithms Statistics Chemicals Keras Sci Prototype Python']

# creating  a function  for  creating n grams

In [32]:
import re

from ftfy import fix_text

def ngrams(string, n=3):
    string = fix_text(string) # fix text bad unicode to good unicode 
    string = string.encode("ascii", errors="ignore").decode() #remove non ascii chars
    string = string.lower()
    chars_to_remove = [")","(",".","|","[","]","{","}","'"]
    rx = '[' + re.escape(''.join(chars_to_remove)) + ']'
    string = re.sub(rx, '', string)
    string = string.replace('&', 'and')
    string = string.replace(',', ' ')
    string = string.replace('-', ' ')
    string = string.title() # normalise case - capital at start of each word
    string = re.sub(' +',' ',string).strip() # get rid of multiple spaces and replace with a single
    string = ' '+ string +' ' # pad names for ngrams...
    string = re.sub(r'[,-./]|\sBD',r'', string)
    ngrams = zip(*[string[i:] for i in range(n)])
    return [''.join(ngram) for ngram in ngrams]

In [33]:
from sklearn.feature_extraction.text import TfidfVectorizer
import re

# vectorizer setting up in a ngram mode

In [34]:
vectorizer = TfidfVectorizer(min_df=1, analyzer=ngrams, lowercase=False)

In [35]:
tfidf = vectorizer.fit_transform(skills)  #resume

# resume done

In [36]:
from sklearn.neighbors import NearestNeighbors
nbrs = NearestNeighbors(n_neighbors=1, n_jobs=-1).fit(tfidf)  #resume
test = (df['test'].values.astype('U'))

In [37]:
test

array(["About company: Smart Food Safe Solutions Inc. food safety compliance resource management solution designed global small medium scale food processing industries using domain-specific functional expertise form latest internet-based smart technologies Blockchain, IoT, Cloud Computing, Machine learning, Artificial Intelligence, etc. About internship/job: Selected intern's day-to-day responsibilities include: Reviewing software requirements preparing test cases Execute test cases (manual automated) analyze results Evaluate product code according specifications Report bugs errors development teams Work cross-functional teams ensure quality throughout software development lifecycle Exposure regression, API performance testing tools added advantage Who apply: Only students freshers apply who: available full time (in-office) internship relevant skills interests start internship 25th Mar'20 24th Apr'20 available duration months already graduated currently year study Females willing start/restart career may also apply Number internships/jobs available: Categories: Software Testing,Computer Science,Engineering",
       'Location Bangalore Experience Years Job Description Good different type testing proficient Python Based Test Script Automation Good experienced Embedded system testing module/component end end. Must willing test manually tests can’t automated due complexity How Apply: Email resumes jobs@mobiveil.com job title subject line.',
       "Open Systems International, Inc. (OSI) www.osii.com fast-paced, growing, high technology company, headquartered Medina, Minnesota. world leader Operations Technology (OT) field, OSI develops supplies state-of-the-art energy management, optimization control software solutions energy utility companies worldwide. currently openings Senior Engineer- Software Testing. Specific on-the-job training provided. position located ITPB, Whitefield, Bangalore, India office following responsibilities: Work software development groups create product well engineering groups deploy product. Work scrum team(s) ensure high quality products superior customer satisfaction. Author, execute maintain test charters, test cases, procedures plans, automated test scripts code. Design, develop, implement improve various test methodologies, plans automation. Review defect descriptions, requirements, designs incorporate test plans. Installation automation, test automation, release automation system administration. Build Configure Continuous Integration setup test environments. Requirements Minimum Bachelor's degree Computer Science, Software Engineering equivalent. Strong hands-on years’ experience Test Automation. years software Quality Assurance Testing experience. Extensive knowledge industry-leading tools methodologies. Strong understanding automated testing best practices. High level scripting skills (Python, Perl, Shell scripting). Demonstrated ability creating communicating testing status dashboards. Proficiency Linux, Windows UNIX environments. Proficiency source control system (such CVS, Subversion, Git, etc.). Excellent written, verbal interpersonal communication skills; comfortable communicating working geographically distributed teams. Innate desires automate, monitor continually improve everything sight. System Administration experience. Preferred Master’s degree Computer Science, Software Engineering equivalent. Experience Quality Assurance within Agile methodology. Experience automation frameworks (Selenium, Robot, Apache JMeter). Experience evaluating, recommending, deploying new tools technologies continually improve efficiency effectiveness Quality Assurance process. Experience various database technologies (such MySQL, Cassandra, MongoDB). Experience server virtualization, especially VMWare VSphere. General networking skills (Layer switches, TCP/IP, SNMP, etc.). Benefits OSI offers comprehensive benefit package full-time regular employees. Additional perks include flexible work hours, employee events, casual dress code more. Check Life OSI Facebook page see more. employee OSI access cutting edge technologies fun, professional, positive dynamic work environment. excellent opportunities growth development.",
       ...,
       "Job Description spend percent lives buildings. follows buildings spend lives enormous impact lives. do, feel, are, become. Siemens, believe everything people life deserves perfect place it. perfect place learn. perfect place grow. perfect place prosper. perfect place every stage life. How? driving trendsetting force joins proven leading-edge technologies increase productivity. The Digital Discrete Industries Division offers comprehensive portfolio seamlessly integrated hardware, software technology-based services order support manufacturing companies worldwide enhancing flexibility efficiency manufacturing processes reducing time market products. India, offices Bengaluru, Chennai, Gurgaon, Noida, Pune. Senior Developer perform lot exciting roles Digital Discrete Industries. Here, weâ€™re hiring Programmers. role, youâ€™ll work Software Engineer charge one Software projects, Programmers also serve Technical advisers management provide programming perspective requirements. Join team offer opportunity enter special management career path. make real matters Provide implementation design develop complex Real Time location application Windows Linux, specifically Application/UI layer using NodeJS Angular.Technical discussions project stakeholders globally distributed teamUnderstand software requirements functional quality attributes Application layer provide design solution. Good knowledge using design patterns.Design, implement document assigned component work product based project schedule. Write code/test code software component/ work productInvestigate fix software defects found test review team ensure product quality. Ensure quality developed component(s) work product(s) (conformance development process) technical delivery. Submit work products software configuration management. Perform regular technical coordination review client ensure risk identification support initiation risk mitigation Project Manager relevant project stakeholders.Team work agile environment What need make real matters engineering graduate years experience Development. Should Good knowledge Build, SCM/CI GitHub Tools.Should Strong Maven, SVN, GIT, Bamboo, JIRA, Confluence, Nexus, XLDeploy, SonarQube, BitBucket, Jenkin This role primarily based Bangalore. However, may get opportunity visit locations within India work demands. Weâ€™ve got quite lot offer. How you? Weâ€™re Siemens. collection 377,000 minds building future, one day time 200 countries. We're dedicated equality welcome applications reflect diversity communities work in. All employment decisions Siemens based qualifications, merit business need. Bring curiosity imagination, help shape tomorrow. Find Digital Discrete Industries at: http://www.siemens.co.in/en/our-businesses/digital-discrete industries.htmand Siemens careers at: www.siemens.com/careers Job ID: 116654 Organization: Internet Things Company: Siemens Technology Services Private Limited Experience Level: Experienced Professional Job Type: Full-time",
       "(Job Number: 1905027) Job Title â€“ Web Developer Using detailed storyboard Instructional Designer describing illustrating required edits work Create e-learnings story board received IDs Publish e-learning LMS Locate eLearning Source Files previously published EDMS Determine whether re-publish entire course edit course objects Edit eLearning source files based directions indicated storyboard including Modifications graphics files Modifications sound files Modifications page text, illustrations, animations Modifications actions behaviors pages Quiz Test interaction modifications Publish modified objects re-package publishing necessary Test modified course errors omissions content technical perspective Publish course SumTotal DEV server. Work Instructional Designer review course course edits identified Instructional Designer SME publisihing DEV. Make requested edits course edits completed edits found, publish SumTotalQA server. Hand Learning Coordinator Domain testing Production Publication. Sharepoint website Updates Make updates sharepoint websites per instructions host links course content Take care basic Graphic design requirements like creating graphic materials The Purpose This Role support Various L&D Teams catering FMR Co, Strategic Advisors, Global Asset Allocation, Corporate services HR, FFIO, Pyramis Fidelity Canada creates/facilitates eLearning Asset Mgmt group. All learning content developed group hosted Sumtotal LMS. This role create learning solutions focusing User experience also best value generated Business. The Value You Deliver closely work Learning Development teams US, supporting developing various solutions address Business problems look user experience solutions come since products reach end users must benefit look latest technologies available ensure explore best possible solutions provide various Business needs The Skills Key role Technical Behavioral Articulate Storyline Claro Captivate Lectora Qualtrics Photoshop Illustrator LMS Good verbal written communication The Skills Good Have role XML XSLT, HTML5 CSS JAVA How Your Work Impacts Organization Various L&D Teams support caters FMR Co, Strategic Advisors, Global Asset Allocation, Corporate services HR, FFIO, Pyramis Fidelity Canada creates/facilitates eLearning Asset Mgmt group. All learning content developed group hosted Sumtotal LMS. team upgrading migrating eLearning courseware static responsive, beginning support learning mobile iOS platform. The teams work closely onshore counterparts execute tasks accordance agreed SLAâ€™s The Expertise Weâ€™re Looking For Graduation/Post Graduation preferably fine arts discipline Minimum years core e-learning development Graphic design (Articulate Storyline, Lectora, Captivate, Claro Flow, Photoshop, Illustrator) Minimum yearsâ€™ experience eLearning Industry Minimum yearsâ€™ experience working directly geographic locations Flexibility work 1300 â€“ 2200 hours shift Company Overview Fidelity Investments one world's largest providers financial services. Headquartered Boston, US, Fidelity's goal make financial expertise broadly accessible effective helping people live lives want. Privately held nearly years, Fidelity employs 45,000 associates focused long-term success customers. FMR (Fidelity Management Research) India Global Inhouse Center Fidelity Investments. Headquartered Bangalore, operations commenced 2003, FMR India another fully-functional unit Chennai. know visit FMR India Location Bangalore Manyata/EGL Chennai Shift timings: 1:00 10:00pm Operations Primary LocationIN-KRN-Bangalore Job LevelIndividual Contributor Education LevelBachelor's Degree (Â±16 years) FMR India Business UnitEnterprise Delivery Solutions OrganizationIndia Job Posting DateMay 2019, 10:08:49",
       'marry design engineering language ways produce impactful memorable experience journeys. partner way continuously improve clientsâ€™ digital maturity. Our Studio network brings optimal combination skill, scale, cost stage product development lifecycle. And need great transformational people want impact projects organizations work with. SKILLS AND EXPERIENCE ARE LOOKING FOR Minimum years relevant professional experience Ability establish trusted partnerships product heads, executive level stakeholders Expertise React JS, HTML5, Java Experience integrating Restful web services Comfort Agile Operating Models HOW YOU WILL FULFILL YOUR POTENTIAL You energetic, self-directed self-motivated, able build sustain long-term relationships clients colleagues Intuitively coalesce towards problems open mind, within context team You exceptional analytical skills, able apply knowledge experience decision-making arrive creative commercial solutions You possess strong desire learn contribute solutions ideas broad team You independent comfortable fast paced, ambiguous often multi-directional work environments Manage multiple tasks use sound judgment prioritizing Provide digitally-advanced financial products retail consumers Collaborate globally-located cross functional team building customer-centric products Analyze existing software implementations identify areas improvement provide estimates implementing new features Update maintain documentation team processes, best practices, software runbooks Help drive new, strategic, business line Integrate best class strategic partners Drive funnel optimization client acquisition Benefits Great globally diverse culture Flexible work-life balance Ongoing career development Relocation opportunities Competitive Salary'],
      dtype='<U10542')

# Creating a function which  resume skills is checking the near bys from glassdor job description

In [38]:

def getNearestN(query):
  queryTFIDF_ = vectorizer.transform(query) #vectorizing
  distances, indices = nbrs.kneighbors(queryTFIDF_)  #nbrs is  resume skills vectorised
  return distances, indices

# Job description is passing  by calling the function

In [39]:
distances, indices = getNearestN(test)
test = list(test) 
matches = []

In [40]:
for i,j in enumerate(indices):
    dist=round(distances[i][0],2)
  
    temp = [dist]
    matches.append(temp)
    
matches = pd.DataFrame(matches, columns=['Match confidence'])

In [41]:
matches.head()

   Match confidence
0              0.81
1              1.01
2              0.79
3              1.01
4              0.85

In [42]:

df

,Unnamed: 0,Category,Position,Company,Location,Job_Description,test
0,0,Testing,Software Testing Internship,Smart Food Safe Solutions Inc,– Bengaluru,About the company:\nSmart Food Safe Solutions ...,About company: Smart Food Safe Solutions Inc. ...
1,1,Testing,Embedded Software Testing,Mobiveil,– Bengaluru,Location : Bangalore\nExperience : 4+ Years\n\...,Location Bangalore Experience Years Job Descri...
2,2,Testing,Senior Engineer - Software Testing (Bangalore ...,Open Systems International,– Bengaluru,"Open Systems International, Inc. (OSI) www.osi...","Open Systems International, Inc. (OSI) www.osi..."
3,3,Testing,Software Testing Engineer,Bloom Solutions,– Bengaluru,About the Job\n\nSoftware Testing Engineer\n\n...,About Job Software Testing Engineer Job Descri...
4,4,Engineer,CIEL/SEL/1888: Software testing Engineer,CIEL HR Services,– Bengaluru,Location: Bangalore\nExperience: 3 to 6Years\n...,Location: Bangalore Experience: 6Years Skills ...
...,...,...,...,...,...,...,...
1919,1919,Developer,Front End Developer,Cuemath,Bengaluru,Skills and Qualifications:\n\n2+ Years of expe...,Skills Qualifications: Years experience Strong...
1920,1920,Developer,Technology Lead-Sharepoint Developer,Infogain,Bengaluru,Job ID : TH10519_13189\n\nPosted on: 29th of M...,"Job TH10519_13189 Posted on: 29th May, 2019Job..."
1921,1921,Developer,Senior UI Developer,Siemens PLC,Bengaluru,Job Description\nWe spend 90 percent of\n\nour...,Job Description spend percent lives buildings....
1922,1922,Developer,Web Developer,Fidelity Investments,Bengaluru,(Job Number: 1905027)\n\nJob Title â€“ Web Dev...,(Job Number: 1905027) Job Title â€“ Web Develo...
1923,1923,Developer,Front End Developer - (Javascript),Softvision,Bengaluru,We marry design and engineering language in wa...,marry design engineering language ways produce...

In [43]:
df['match']=matches['Match confidence']
df1=df.sort_values('match')
df1[['Position','Category', 'Company','Location','match']].head(10).reset_index()

,index,Position,Category,Company,Location,match
0,684,Data Scientist,Data Science,Atonarp,â€“ Bengaluru,0.66
1,80,Full-Stack Machine Learning Engineer/Data Scie...,Data Science,Oracle,– Bengaluru,0.67
2,1255,"Data Scientist, Global Data Science Center of ...",Data Science,Visa,Bengaluru,0.67
3,101,Machine learning expert,Others,Insight Jedi,– Bengaluru,0.68
4,1102,Data Scientist,Data Science,Merak,Bengaluru,0.68
5,612,Systems Engineer (C++ Developer),Developer,Quadeye,– Gurgaon,0.68
6,32,Machine Learning Engineer,Engineer,Involvio,– Bengaluru,0.68
7,464,"Data Scientist , Apple Care Online Support",Data Science,Apple,– Bengaluru,0.68
8,328,Systems Engineer,Engineer,ADCI - Karnataka,– Bengaluru,0.68
9,389,Director-Data science,Data Science,Publicis Sapient,– Bengaluru,0.68

In [60]:
df1['Category'].value_counts()

Data Science        742
Developer           597
Engineer            280
Others               92
Designer             51
Architects           48
Scientist            47
Machine Learning     32
Testing              29
Pythoneers            6
Name: Category, dtype: int64

In [92]:
df1['Category'].mode()[0]

'Data Science'